{{#email_subject}}
    {{#en}}Congratulation.{{/en}}
    {{#nl}}
        {{#en}} / {{/en}}
    {{/nl}}
    {{#nl}}Gefeliciteerd.{{/nl}}
{{/email_subject}}

{{#email_body}}
    {{#nl}}
        {{#en}}
            <a href="#english">English version below.</a>
        {{/en}}
    {{/nl}}
    {{#nl}}
      <h1>Gefeliciteerd, uw unicorn had {{ count }} posts.</h1>
    {{/nl}}
{{/email_body}}